body {
  font-family: Open Sans;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5;
}

/*verdana*/

.blog-container {
  max-width: 800px;
  padding-left: .75rem;
  padding-top: 1.0rem;
}

h2 {
  font-family: Raleway;
  font-weight: 900;
  font-size: 3.0rem;
  margin-top: 1.0rem
}

.date {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 1.0rem;
  color: #3d7194;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: 0rem auto 1.0rem;
}

blockquote {
  font-family: Raleway;
  font-style: italic;
  font-weight: 200;
  font-size: 1.5rem;
  border-left: 2px solid black;
  margin-left: 20px;
  padding-left: 20px;
}

h3 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 2.0rem auto 0;
}

p {
  margin-top: 0;
}

hr.post-divider, hr.last-post{
  border: 1px solid #f1f1f1;
  width: 66%;
  margin: 5.0rem auto 5.0rem auto;
}
.footer {
  color: #a1a1a1;
  text-align: center;
  width: 100%;
  font-size: 0.75rem;
  padding-bottom: 16px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.copyright {
  padding: auto .4rem auto .4rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s, color 0.5s;
  text-decoration: none;
}

.copyright:hover {
    color: black;
    border-bottom-color: #a1a1a1;
}
/*body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}*/
