/* line 3, ../../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../../sass/style.scss */
body {
  font-family: "San Francisco", sans-serif, arial;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.75);
  padding-left: 25px;
  padding-right: 20px;
}

/* line 15, ../../sass/style.scss */
a {
  color: black;
}

/*verdana*/
/* line 21, ../../sass/style.scss */
.header {
  max-width: 600px;
  line-height: 1.25;
  margin: 20px 0;
  padding-top: 1.5rem;
}
/* line 27, ../../sass/style.scss */
.header a {
  color: rgba(158, 135, 69, 0.7);
  font-family: Raleway;
  font-weight: 800;
  font-size: 6.0rem;
  letter-spacing: 15px;
  padding: 0 0 7px 0;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom ease 2s, color ease 2s;
  -moz-transition: border-bottom ease 2s, color ease 2s;
  -o-transition: border-bottom ease 2s, color ease 2s;
  transition: border-bottom ease 2s, color ease 2s;
}
/* line 42, ../../sass/style.scss */
.header a:hover {
  color: black;
  border-bottom: 1px solid #cbac52;
      /*
      #ffcf40
      #ffdc73
      #DDBB63
      #67531E
      #A77900

      #7e6a36
      rgba(158, 135, 69, 0.5);
      */
}

/* line 61, ../../sass/style.scss */
.blog-container {
  max-width: 800px;
  padding-top: 1.0rem;
}

/* line 66, ../../sass/style.scss */
.post-header-group {
  padding-bottom: 15px;
}

/* line 70, ../../sass/style.scss */
.date {
  font-family: "arial";
  font-weight: bold;
  font-size: 1.0rem;
  color: #3d7194;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

/* line 79, ../../sass/style.scss */
h2 {
  color: rgba(0, 0, 0, 0.85);
  font-family: Raleway;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: .75rem;
  margin-bottom: 0;
}

/* line 88, ../../sass/style.scss */
h3 {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.45);
}

/* line 95, ../../sass/style.scss */
.post {
  margin-top: 1rem;
}

/* line 99, ../../sass/style.scss */
blockquote {
  font-family: Raleway;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  border-left: 2px solid rgba(0, 0, 0, 0.55);
  margin-left: 20px;
  margin-top: 1.5rem;
  padding-left: 20px;
}

/* line 110, ../../sass/style.scss */
h4 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 2.0rem auto 0;
}

/* line 117, ../../sass/style.scss */
p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

/* line 122, ../../sass/style.scss */
span {
  font-size: 1.0em;
}

/* line 126, ../../sass/style.scss */
hr.post-divider, hr.last-post {
  border: 1px solid #f1f1f1;
  width: 66%;
  margin: 5.0rem auto 5.0rem auto;
}

/* line 131, ../../sass/style.scss */
.footer {
  color: #a1a1a1;
  text-align: center;
  width: 100%;
  font-size: 0.75rem;
  padding-bottom: 16px;
}
/* line 138, ../../sass/style.scss */
.footer a {
  text-decoration: none;
  color: inherit;
}

/* line 144, ../../sass/style.scss */
.copyright {
  padding: 0 .2rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s, color 0.5s;
  text-decoration: none;
}
/* line 150, ../../sass/style.scss */
.copyright:hover {
  color: black;
  border-bottom-color: #a1a1a1;
}

/* TODO - nice gradiant bottom border and transition
.copyright{
padding: 0 .2rem;
border-bottom: 1px solid transparent;
-webkit-transition: background 0.5s, color 0.5s;
-moz-transition: background 0.5s, color 0.5s;
-o-transition: background 0.5s, color 0.5s;
-ms-transition: background 0.5s, color 0.5s;
transition: background 0.5s ease, color 0.5s;
text-decoration: none;
}

.copyright:hover {
color: black;
background:
linear-gradient(
to left,
rgba(255, 255, 255, 1),
rgba(161,161,161, 1),
rgba(161,161,161, 1),
rgba(255, 255, 255, 1)
)
center
bottom
no-repeat;
background-size:120% 1px;
*/
@media only screen and (max-device-width: 1000px) and (-webkit-device-pixel-ratio: 2) {
  /* line 186, ../../sass/style.scss */
  html {
    font-size: .7rem;
    overflow-x: hidden;
  }

  /* line 191, ../../sass/style.scss */
  .header a {
    font-size: 6.0rem;
  }

  /* line 195, ../../sass/style.scss */
  h3 {
    font-size: 2rem;
  }

  /* line 199, ../../sass/style.scss */
  blockquote {
    font-size: 1.85rem;
  }

  /* line 203, ../../sass/style.scss */
  p {
    font-size: 1.7rem;
  }
}
@media only screen and (max-device-width: 700px) and (-webkit-device-pixel-ratio: 2) {
  /* line 209, ../../sass/style.scss */
  html {
    font-size: .65rem;
    overflow-x: hidden;
  }

  /* line 214, ../../sass/style.scss */
  .header a {
    font-size: 4.5rem;
  }
}
