body {
  font-family: "arial";
  line-height: 1.6;
  color: rgba(0,0,0,.75);
}

a {
  color: black;
}

/*verdana*/

.header {
  max-width: 600px;
  padding-left: .75rem;
  line-height: 1.25;
  margin: 20px 0;
}

.header a{
  color: rgba(158, 135, 69, 0.7);
  font-family: Raleway;
  font-weight: 800;
  font-size: 6.0rem;
  letter-spacing: 15px;
  padding: 0 20% 7px auto;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom ease 2s, color ease 2s;
  -moz-transition: border-bottom ease 2s, color ease 2s;
  -o-transition: border-bottom ease 2s, color ease 2s;
  transition: border-bottom ease 2s, color ease 2s;
}

/*
#ffcf40
#ffdc73
#DDBB63
#67531E
#A77900

#7e6a36
rgba(158, 135, 69, 0.5);
*/
.header a:hover {
  color: black;
  border-bottom: 1px solid rgba(203, 172, 82, 1);
}

.blog-container {
  max-width: 800px;
  padding-left: .75rem;
  padding-top: 1.0rem;
}

h2 {
  color: rgba(0,0,0, .85);
  font-family: Raleway;
  font-weight: 700;
  font-size: 3.0rem;
  margin-top: .75rem;
}

.date {
  font-family: "arial";
  font-weight: bold;
  font-size: 1.0rem;
  color: #3d7194;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.post {
  margin-top: 1.0rem
}

blockquote {
  font-family: Raleway;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  border-left: 2px solid rgba(0,0,0,.75);
  margin-left: 20px;
  padding-left: 20px;
}

h3 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 2.0rem auto 0;
}

p {
  margin-top: 0;
  font-size: 1.2rem; 
}

hr.post-divider, hr.last-post{
  border: 1px solid #f1f1f1;
  width: 66%;
  margin: 5.0rem auto 5.0rem auto;
}
.footer {
  color: #a1a1a1;
  text-align: center;
  width: 100%;
  font-size: 0.75rem;
  padding-bottom: 16px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.copyright{
  padding: 0 .2rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s, color 0.5s;
  text-decoration: none;
}

.copyright:hover {
  color: black;
  border-bottom-color: #a1a1a1;
}

/* TODO - nice gradiant bottom border and transition
.copyright{
padding: 0 .2rem;
border-bottom: 1px solid transparent;
-webkit-transition: background 0.5s, color 0.5s;
-moz-transition: background 0.5s, color 0.5s;
-o-transition: background 0.5s, color 0.5s;
-ms-transition: background 0.5s, color 0.5s;
transition: background 0.5s ease, color 0.5s;
text-decoration: none;
}

.copyright:hover {
color: black;
background:
linear-gradient(
to left,
rgba(255, 255, 255, 1),
rgba(161,161,161, 1),
rgba(161,161,161, 1),
rgba(255, 255, 255, 1)
)
center
bottom
no-repeat;
background-size:120% 1px;
*/


@media (max-width: 1000px) and (min-width: 600px){
  * {
    font-size: 1.2rem;
  }

  .blog-container {
    max-width: 900px;
  }
}
